  /*Bloco de cima*/
  
  #curriculum{
  border:solid 2px #363636;
  background-color:#7900EB;
  margin-top: 10px;
  width: 150%;
  margin-left:-75%!important;
  font-size:35px!important;
  position:fixed!important;
  top: -10px;
  display:inline-block;
  color:white;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  margin-left: 180px;
  
}
}
/* usei h7 para não abrir outra div e não atrapalhar o estilo do link*/
/*h7 responsável pelas letras do bloco curriculum*/
h7{
  margin-left:80%;
  color:white;
  text-decoration: none;
  font-size: 15px;
  position:absolute;
  text-align: center;
  display:inline-block;
  
 
}
  a{
   color:white;
   font-size: 20px;
   color:black;
   
  }
  /*mídia query tamanho da fonte do bloco curriculum*/
  @media(max-width:480px){
    a{
      font-size: 8px;
    }
  }
/*valor de compra*/
div.nomes {
  margin-left: 2px;

}


div.center{
     text-align: center;
    }
    p{
      margin-top:-10px;
    }
 /*título do site*/
 div.title{
           margin-left: auto;
    margin-right: auto;
       font-size: 40px ;
       color:#7900EB;
box-sizing: content-box;
width: 200px;
border: solid #7900EB 2px;
padding: 2px;
     
      }
      
      input{
        
    font-size: 20px;
    width:346px;
    margin:2px;
      }
      
      body{
        
        color:#eeeeee;
        background-color: #363636;
        font-family: font-family: 'Lato', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
      text-align:center;
        
      }
      /*blocks in center codes of margin */
      div.blocos{
    margin: 2px;
    margin-left: auto;
    margin-right: auto;
    
    /*theend */
    width: 6em
        border: solid 2px black;
        background-color: #7900EB;
       
        font-size: 20px;
        color:white;
        width: 350px;
        height:30px;
       
      }
     /*segunda cor ao passar o mouse*/
      div.blocos:hover{
        background-color: lightgrey;
       
      }
     
     
     /*Div de resultado para o js*/
      #res{
        
    
    margin-left: auto;
    margin-right: auto;
        color:black;
        background-color: white;
        width: 350px;
        font-size: 20px;
        border:solid 2px black;
        
      }
      div.centro{
        text-align: center;
       
       
      }
      
      
/*Img svg*/
#desenho{
  margin-top: -380px;
}
   
   
      footer{
      background-color:#7900EB;
      height:140px;
      color:black;
      width:110%;
      margin-left: -20px;
      margin-bottom:-30px;
      
      
    }
    /*mídia query do rodapé*/
 @media(max-width:400px){
   footer{
   background-color:#7900EB;
      height:200px;
      color:black;
      width:120%;
     
      margin-top:150px;
 }
  
}
