
  div.center{
     text-align: center;
    }

      input{
        
    font-size: 20px;
    width:346px;
    margin:2px;
      }
      @media (max-width:480px){
        input{
          margin: 2px;
          margin-left: 4em;
          margin-right: 4em;
          
          /*theend */
          width: 20em;
        }
      }
      @media (max-width:480px){
        div.nomes{
          margin: 2px;
          margin-left: 8em;
          margin-right:8em;
          
          /*theend */
          width: 20em;
        }
      }
  
      body{
        
        color:#eeeeee;
        background-color: #363636;
        font-family: font-family: 'Lato', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
      float:center;

      
      }
     
      /*blocks in center codes of margin */
      div.blocos{
    margin: 2px;
    margin-left: auto;
    margin-right: auto;
    
    /*theend */
    width: 6em;
       
        background-color: #7900EB;
       
        font-size: 20px;
        color:white;
        width: 350px;
        height:30px;
       
      }
      @media (max-width:480px){
        div.blocos{
          margin: 2px;
          margin-left: 6em;
          margin-right: 6em;
          
          /*theend */
          width: 20em;
             
              background-color: #7900EB;
             
              font-size: 20px;
              color:white;
              width: 350px;
              height:30px;
             
            }

      }
      div.blocos:hover{
        background-color: lightgrey;
       
      }


  
     
      
      #res{
        
    
    margin-left: auto;
    margin-right: auto;
        color:black;
        background-color: white;
        width: 350px;
        font-size: 20px;
        border:solid 2px black;
        
      }
      @media (max-width:480px){
        div#res{
          margin: 2px;
          margin-left: 4em;
          margin-right: 4em;
          
          /*theend */
          width: 20em;
        }
      }
  
      div.centro{
        text-align: center;
       
       
      }
      div.title{
           margin-left: auto;
    margin-right: auto;
       font-size: 40px ;
       color:#7900EB;
box-sizing: content-box;
width: 200px;
border: solid #7900EB 2px;
padding: 2px;           
        
      }
      @media (max-width:480px){
        div.title{
          margin: 2px;
          margin-left: 2em;
          margin-right: 2em;
          
          /*theend */
          width: 10em;
        }
      }
  


      footer{
      background-color:#7900EB;
      height:180px;
      color:black;
      width:110%;
      margin-left: auto;
      margin-bottom:auto;
      color:white;
        font-size: 15px;
        text-align: center;
        margin-top: 50px;
        margin-left: -15px;
        margin-bottom:-15px;
      
    }
 
    @media (max-width:450px){
      footer{
        margin: 2px;
        margin-left: 4em;
        margin-right: 4em;
        width: 20em;
        background-color:#7900EB;
      height:140px;
      color:black;
      width:180%;
      margin-left: -2px;
      margin-bottom:-2px;
      color:white;
        font-size: 15px;
        text-align: center;
        margin-top: 50px;
      }
    }


  
